<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../css/header.css">
<link rel="stylesheet" href="../../../public/vendor/all.min.css">
<div id="header" class="header">
    <a href="/">
        <div id="frame_logo">
            <img id="logo" src="../../../public/images/logo.svg" alt="">
            <span id="Name_logo">PointC</span>
        </div>
    </a>
    <div id="frame_personal">
        <i class="fa-regular fa-bell notification" id="notification"></i>
        <div id="infor">
            <div id="infor_user">
                <p id="fullName">Nguyễn Văn A</p>
                <p id="frame_MSSV">MSSV: <span id="MSSV">2021601234</span></p>
            </div>
            <img src="../../../public/images/higher-education.png" alt="" class="avatar">
        </div>
    </div>
</div>