<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- hạn chế đụng vào file overall.css -->
    <link rel="stylesheet" href="../../css/overall.css">
    <!-- --------------------------------- -->
    <link rel="stylesheet" href="../../css/admin/adminHocphandetail.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../../public/vendor/all.min.css">
    <title>Chi tiết học phần</title>
</head>

<body>
    <!-- Header -->
    <div class="header"></div>
    <div id="main">
        <!-- Menu -->
        <div class="menu_admin"></div>

        <div id="content">
            <!-- Vui lòng điểu chỉnh tiêu đề, không thay đổi tên id có sẵn -->
            <h1 id="tieudechinh">Chi tiết lớp học phần</h1>
            <p id="tieudephu">Thông tin chi tiết về lớp học phần</p>

            <!-- ------------------------------------------------ -->
            <!-- Nội dung riêng của từng trang sẽ được chèn vào đây -->

            <div id="top">
                <div id="title-top">
                    <p>Thông tin lớp học phần</p>
                    <button id="edit"><i class="fa-solid fa-pen"></i> Chỉnh sửa</button>
                </div>
                <div class="frame-thongtin">
                    <div class="don-thongtin">
                        <p class="label">Mã lớp</p>
                        <p class="label-content">CS101.01</p>
                    </div>
                    <div class="don-thongtin">
                        <p class="label">Năm học</p>
                        <p class="label-content">2024-2025</p>
                    </div>
                </div>
                <div class="frame-thongtin">
                    <div class="don-thongtin">
                        <p class="label">Học phần</p>
                        <p class="label-content">Lập trình cơ bản</p>
                    </div>
                    <div class="don-thongtin">
                        <p class="label">Kỳ học</p>
                        <p class="label-content">Kỳ 1</p>
                    </div>
                </div>
                <div class="frame-thongtin">
                    <div class="don-thongtin">
                        <p class="label">Khoa</p>
                        <p class="label-content">Công nghệ thông tin</p>
                    </div>
                    <div class="don-thongtin">
                        <p class="label">Trạng thái</p>
                        <p class="label-content">Đang học</p>
                    </div>
                </div>
                <div class="frame-thongtin">
                    <div class="don-thongtin">
                        <p class="label">Chuyên ngành</p>
                        <p class="label-content">Công nghệ thông tin</p>
                    </div>
                    <div class="don-thongtin">
                        <p class="label">Giảng viên</p>
                        <p class="label-content">Nguyễn Văn B</p>
                    </div>
                </div>
                <div class="frame-thongtin">
                    <div class="don-thongtin">
                        <p class="label">Ca học</p>
                        <p class="label-content">Sáng(6h45-9h15)</p>
                    </div>
                    <div class="don-thongtin">
                        <p class="label">Lịch học</p>
                        <p class="label-content">Thứ2, Thứ 4, Thứ 6</p>
                    </div>
                    <div class="don-thongtin">
                        <p class="label">Phòng học</p>
                        <p class="label-content">H101</p>
                    </div>
                </div>
                <div class="frame-thongtin">
                    <div class="don-thongtin">
                        <p class="label">Sức chứa</p>
                        <p class="label-content">60 sinh viên</p>
                    </div>
                    <div class="don-thongtin">
                        <p class="label">Sỉ số</p>
                        <p class="label-content">48 sinh viên</p>
                    </div>
                    <div class="don-thongtin">
                        <p class="label">Sơ đồ điểm</p>
                        <p class="label-content">Sơ đồ tiêu chuẩn kỹ thuật</p>
                    </div>
                </div>
            </div>
            <div id="bottom">
                <div class="student-box">

                    <div class="box-header">
                        <h3>Danh sách sinh viên (48)</h3>
                        <button class="add-btn">
                            <i class="fa-solid fa-plus"></i> Thêm sinh viên
                        </button>
                    </div>

                    <table class="student-list">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>MSSV</th>
                                <th>Họ và tên</th>
                                <th>Khoa/viện</th>
                                <th>Chuyên ngành</th>
                                <th>Tình trạng</th>
                                <th>Trạng thái lớp</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>0000000000000</td>
                                <td>Nguyễn Huỳnh Văn A</td>
                                <td>Công nghệ thông tin</td>
                                <td>Công nghệ thông tin</td>
                                <td class="good">Tốt</td>
                                <td>
                                    <select class="status studying" id="status-1">
                                        <option id="opt-1-study" class="opt-study" value="study">Đang học</option>
                                        <option id="opt-1-drop" class="opt-drop" value="drop">Rút học</option>
                                    </select>
                                </td>
                                <td><i class="fa-solid fa-trash delete"></i></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>0000000000000</td>
                                <td>Nguyễn Huỳnh Văn A</td>
                                <td>Công nghệ thông tin</td>
                                <td>Công nghệ thông tin</td>
                                <td class="bad">Vấn đề</td>
                                <td>
                                    <select class="status stopped" id="status-2">
                                        <option id="opt-2-drop" class="opt-drop" value="drop">Rút học</option>
                                        <option id="opt-2-study" class="opt-study" value="study">Đang học</option>
                                    </select>
                                </td>
                                <td><i class="fa-solid fa-trash delete"></i></td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>0000000000000</td>
                                <td>Nguyễn Huỳnh Văn A</td>
                                <td>Công nghệ thông tin</td>
                                <td>Công nghệ thông tin</td>
                                <td class="good">Tốt</td>
                                <td>
                                    <select class="status warning" id="status-3">
                                        <option id="opt-3-drop" class="opt-drop" value="drop">Rút học</option>
                                        <option id="opt-3-study" class="opt-study" value="study">Đang học</option>
                                    </select>
                                </td>
                                <td><i class="fa-solid fa-trash delete"></i></td>
                            </tr>
                        </tbody>

                    </table>
                    <div class="pagination">
                        <button class="page-btn disabled">‹</button>

                        <button class="page-btn active">1</button>
                        <button class="page-btn">2</button>
                        <button class="page-btn">3</button>
                        <button class="page-btn">4</button>

                        <button class="page-btn">›</button>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- Javascript -->
    <script src="../../js/admin/admin.js"></script>
    <script src="../../js/admin/adminHocphandetail.js"></script>
</body>

</html>