<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="../../css/menu_teacher.css">
<link rel="stylesheet" href="../../../public/vendor/all.min.css">
<div id="menu_teacher" class="menu_teacher">
    <div id="menu">
        <a href="/">
            <div class="frame_menu menu_active">
                <i class="fa-regular fa-house "></i>
                <p>Trang chủ</p>
            </div>
        </a>
        <a href="/">
            <div class="frame_menu">
                <i class="fa-solid fa-list-check"></i>
                <p>Lớp</p>
            </div>
        </a>
    </div>
    <div class="frame_logout">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <p>Đăng xuất</p>
    </div>
</div>